@import url("https://fonts.cdnfonts.com/css/seven-segment");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width:  100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  overflow: hidden; 
}
.calculator {
  width: 350px;
  height: 540px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
}
.numbuttons {
  width: 332px;
}
button.numbutton:hover {
  background-color: rgb(122, 122, 122);
}
button.clear:hover {
  background-color: rgb(122, 122, 122);
}
button.numbutton:active {
  background-color: rgb(93, 93, 93);
}
button.clear:active {
  background-color: rgb(93, 93, 93);
}
div.top {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  padding-left: 250px;
}
.history {
  width: 70px;
  height: 20px;
  border-radius: 50px;
  background-color: gray;
}
.calchistory {
  display: flex;
}
#history {
  opacity: 0;
  width: 300px;
  height: 420px;
  background-color: gray;
  border-radius: 20px;
}
div.spacer {
  width: 300px;
}
div.historycontainer {
  padding-left: 30px;
  display: flex;
  align-items: center;
}
#history h1 {
  padding: 10px;
  font-family: "Seven Segment", sans-serif;
}
#history p {
  font-size: 30px;
  padding: 15px;
  font-family: "Seven Segment", sans-serif;
  font-weight: 800;
}
#history #time {
  font-size: 25px;
}
.top {
  width: 100%;
  height: 30px;
}
#screenspace {
  width: 100%;
  height: 90%;
  background-color: rgb(3, 162, 3);
  padding: 20px;
  color: white;
  font-size: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Seven Segment", sans-serif;
  font-weight: 800;
  color: rgb(36, 36, 36);
}
.screencontainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 21, 21);
  color: rgb(36, 36, 36);
}

.numbutton {
  width: 80px;
  height: 80px;
  background-color: rgb(202, 202, 202);
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  font-family: "Seven Segment", sans-serif;
  font-weight: 800;
}
.clear {
  width: 332px;
  height: 80px;
  background-color: rgb(202, 202, 202);
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}
.creator {
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-family: "Seven Segment", sans-serif;
}
.creator img {
  width: 50px;
  margin-left: 20px;
  border-radius: 20px;
}

.anim1 {
  width: 400px;
  height: 160px;
  position: absolute;
  font-size: 150px;
  text-align: center;
  font-family: monospace;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(47, 0, 255);
  color: rgb(8, 192, 39);

  opacity: 0;
  visibility: hidden;
}
.anim2 {
  width: 400px;
  height: 160px;
  position: absolute;
  font-size: 150px;
  text-align: center;
  font-family: monospace;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(255, 0, 212);
  color: white;

  opacity: 0;
  visibility: hidden;
}
.anim3 {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 18;
  opacity: 0;
  visibility: hidden;
}
.anim3 img {
  width: 100%;
  border-radius: 50px;
}
.version {
  color: white;
  font-family: "Seven Segment", sans-serif;
}

.explosion {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("https://i.ibb.co/bWGXgRX/explosions-png-2.png");
  background-color: rgba(240, 248, 255, 0);
  animation: explode 2.5s ease-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.explosion img {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes explode {
  0% {
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(4);
    transform-origin: center;
    opacity: 0;
  }
}
